*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
body{
  font-family:Verdana, Tahoma, sans-serif;
   background-image: url("https://img.freepik.com/free-photo/office-table-with-cup-coffee-keyboard-notepad_1220-4618.jpg?size=626&ext=jpg&ga=GA1.2.1259642969.1679578328&semt=ais");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  z-index: 1;
 
   
}
.bg{
  background: rgb(249, 60, 3)!important;
  
}
.btn{
  background-color: rgb(249, 60, 3)!important;
}
.create-btn{
  background-color: rgb(249, 60, 3) !important;
  margin-top: 10px !important;

}
.update-btn{
    margin-top: 10px !important;
    background-color: rgb(249, 60, 3) !important;
}
.home{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}